<div id="<%= dom_id licitacion %>">
  <p>
    <strong>Nombre proyecto:</strong>
    <%= licitacion.nombre_proyecto %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= licitacion.descripcion %>
  </p>

  <p>
    <strong>Presupuesto:</strong>
    <%= licitacion.presupuesto %>
  </p>

  <p>
    <strong>Duracion en meses:</strong>
    <%= licitacion.duracion_en_meses %>
  </p>

  <p>
    <strong>Fecha de inicio:</strong>
    <%= licitacion.fecha_de_inicio %>
  </p>

  <p>
    <strong>Fk region:</strong>
    <%= licitacion.fk_region %>
  </p>

  <p>
    <strong>Fk estado licitacion:</strong>
    <%= licitacion.fk_estado_licitacion %>
  </p>

</div>
