<%= form_with(model: estado_licitacion) do |form| %>
  <% if estado_licitacion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(estado_licitacion.errors.count, "error") %> prohibited this estado_licitacion from being saved:</h2>

      <ul>
        <% estado_licitacion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :estado, style: "display: block" %>
    <%= form.text_field :estado %>
  </div>

  <div>
    <%= form.label :descripcion, style: "display: block" %>
    <%= form.text_field :descripcion %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
